.directedGraph .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.directedGraph .link {
  stroke: #999;
  stroke-opacity: .6;
}

.directedGraph #arrow {
 stroke: #999;
 stroke-opacity: .6;
 fill: #999;
}