<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <header class="masthead">
    <div class="container">
        <a href="{{ site.baseurl }}/" title="Home" class="logo">{{ site.title }}</a>
        <span class="tagline">{{ site.tagline }}</span>
        <nav>
            <a href="https://github.com/vistadataproject">Github</a>
            <a href="/artifacts/developer">DevDocs</a>
            <a href="/blog/introduction">About</a>
        </nav>
    </div>
    </header>


    <div class="container content">

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. VISTA Data Project. All rights reserved.
        </small>
      </footer>
      
    </div>

  </body>
</html>
