---
layout: default
---

<article class="post">
  <header>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-subinfo">
        <time datetime="{{ page.date | date_to_xmlschema }}" class="xpost-date">{{ page.date | date_to_string }}</time>
        &nbsp;&middot;&nbsp;
        <a href="https://www.linkedin.com/in/{{ site.authors[page.author].linkedin }}" class="post-author">{{ site.authors[page.author].name }}</a>
        &nbsp;&middot;&nbsp;
        site.authors[page.author].role
    </div>
  </header>
  {{ content }}
</article>

<!-- add pagination here -->
<div class="pagination">
  {% if page.previous.url %}
    <a class="pagination-item" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% else %}
    <span class="pagination-item">&nbsp;</span>
  {% endif %}
  {% if page.next.url %}
    <a class="pagination-item" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% else %}
    <span class="pagination-item">&nbsp;</span>
  {% endif %}
</div>
